<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sree.myappjan">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppJan">
        <activity
            android:name=".Samplee"
            android:exported="false" />
        <activity android:name=".AlertCustom"/>
        <activity android:name=".CustomToastActivity"/>
        <activity android:name=".ProgressDialogActivity"/>
        <activity android:name=".ToggleSwitch" />
        <activity android:name=".CustomList" />
        <activity android:name=".Registration" />
        <activity android:name=".ImplicitIntent" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".AutoCompleteTvActivity" />
        <activity android:name=".SearchViewEx" />
        <activity android:name=".GridwithImageandText" />
        <activity android:name=".SlidingActivity" />
        <activity android:name=".HorizontalScroll" />
        <activity android:name=".VerticalScrol" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".Login" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/mytheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>